.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}
.md-sidenav-left{
  background: #f5f5f5;
}

.listdemoListControls md-divider {
  margin-top: 10px;
  margin-bottom: 10px; }
